.container {
    max-width: 75rem;
    margin: 2rem auto;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}
header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

h1 {
    font-size: 1.5rem;
}